<a href="https://colab.research.google.com/github/Rodcbatista/Codenation-AceleraDev-DataScience/blob/master/Desafio_2_Semana_Codenation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
#acessando o help dos pacotes
pd?

# Dicionários

In [ ]:
# Criando um dicionário com os dados (na unha)
dados = {'canal_venda' : ['facebook', 'twitter', 'instagram', 'linkedin', 'facebook'],
         'acessos': [100, 200, 300, 400, 500],
         'site': ['site1','site1','site2','site2','site3'],
         'vendas': [1000.52, 1052.34, 2002, 5000, 300]}

In [ ]:
# para printar o dicionário
dados

{'acessos': [100, 200, 300, 400, 500],
 'canal_venda': ['facebook', 'twitter', 'instagram', 'linkedin', 'facebook'],
 'site': ['site1', 'site1', 'site2', 'site2', 'site3'],
 'vendas': [1000.52, 1052.34, 2002, 5000, 300]}

In [ ]:
# verificando o tipo do dicionário
type(dados)

dict

In [ ]:
# acessando as chaves do meu dicionário
dados.keys()

dict_keys(['canal_venda', 'acessos', 'site', 'vendas'])

In [ ]:
# acessando uma chave específica 
dados['canal_venda']

['facebook', 'twitter', 'instagram', 'linkedin', 'facebook']

In [ ]:
# acessando uma posição específica no meu dicionário
dados['canal_venda'][2]

'instagram'

In [ ]:
# acessando uma posição específica no meu dicionário
dados['canal_venda'][:2]

['facebook', 'twitter']

# LISTAS

In [ ]:
# Criando uma lista
lista = [200, 200, 300, 800, 200]

In [ ]:
# printando a lista
lista

[200, 200, 300, 800, 200]

In [ ]:
# buscando valores específicos na lista
lista[1]

200

In [ ]:
# fatia da lista
lista[:3]

[200, 200, 300]

In [ ]:
# adicionando a lista no dicionário
dados['lista'] = lista
dados

{'acessos': [100, 200, 300, 400, 500],
 'canal_venda': ['facebook', 'twitter', 'instagram', 'linkedin', 'facebook'],
 'lista': [200, 200, 300, 800, 200],
 'site': ['site1', 'site1', 'site2', 'site2', 'site3'],
 'vendas': [1000.52, 1052.34, 2002, 5000, 300]}

# Data Frames

In [ ]:
# criar um data frame a partir de um dict
dataframe = pd.DataFrame(dados)

In [ ]:
# acessando o dataframe
dataframe

  canal_venda  acessos   site   vendas  lista
0    facebook      100  site1  1000.52    200
1     twitter      200  site1  1052.34    200
2   instagram      300  site2  2002.00    300
3    linkedin      400  site2  5000.00    800
4    facebook      500  site3   300.00    200

In [ ]:
# printando os primeiros casos do dataframe
dataframe.head(1)

  canal_venda  acessos   site   vendas  lista
0    facebook      100  site1  1000.52    200

In [ ]:
# verificando o formato do dataframe
dataframe.shape

(5, 5)

In [ ]:
# verificando o índice do dataframe
dataframe.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
#verificando o tipo de dados no dataframe
dataframe.dtypes

canal_venda     object
acessos          int64
site            object
vendas         float64
lista            int64
dtype: object

In [ ]:
# verificando o tipo de dados no dataframe 2
dataframe.dtypes.value_counts()

object     2
int64      2
float64    1
dtype: int64

In [ ]:
# verificando se existem valores faltantes
dataframe.isna()

   canal_venda  acessos   site  vendas  lista
0        False    False  False   False  False
1        False    False  False   False  False
2        False    False  False   False  False
3        False    False  False   False  False
4        False    False  False   False  False

In [ ]:
# somando os valores faltantes
dataframe.isna().sum()

canal_venda    0
acessos        0
site           0
vendas         0
lista          0
dtype: int64

In [ ]:
# printando o nome das colunas
dataframe.columns

Index(['canal_venda', 'acessos', 'site', 'vendas', 'lista'], dtype='object')

In [ ]:
# acessando uma coluna específica 
dataframe['canal_venda']

0     facebook
1      twitter
2    instagram
3     linkedin
4     facebook
Name: canal_venda, dtype: object

In [ ]:
# acessando uma coluna específica e transformando-a em lista
list(dataframe['canal_venda'])

['facebook', 'twitter', 'instagram', 'linkedin', 'facebook']

In [ ]:
# criando uma nova coluna
dataframe['nova_coluna'] = [1 ,2 ,3 ,4 ,5 ]

In [ ]:
dataframe.columns

Index(['canal_venda', 'acessos', 'site', 'vendas', 'lista', 'nova_coluna'], dtype='object')

In [ ]:
#removendo colunas
dataframe.drop(columns = 'nova_coluna', inplace = True)

In [ ]:
dataframe.columns

Index(['canal_venda', 'acessos', 'site', 'vendas', 'lista'], dtype='object')

In [ ]:
# acessando valores específicos
dataframe['canal_venda'][2]

'instagram'

In [ ]:
# acessando fatia de coluna específica 
dataframe['canal_venda'][:2]

0    facebook
1     twitter
Name: canal_venda, dtype: object

In [ ]:
# fatiando os dados usando o iloc (linhas / colunas)
dataframe.iloc[:2,2:]

    site   vendas  lista
0  site1  1000.52    200
1  site1  1052.34    200

In [ ]:
dataframe

  canal_venda  acessos   site   vendas  lista
0    facebook      100  site1  1000.52    200
1     twitter      200  site1  1052.34    200
2   instagram      300  site2  2002.00    300
3    linkedin      400  site2  5000.00    800
4    facebook      500  site3   300.00    200

In [ ]:
#fatiando os dados usando o loc (índice)
dataframe.loc[:3]

  canal_venda  acessos   site   vendas  lista
0    facebook      100  site1  1000.52    200
1     twitter      200  site1  1052.34    200
2   instagram      300  site2  2002.00    300
3    linkedin      400  site2  5000.00    800

In [ ]:
# removendo colunas
dataframe.drop(columns = ['acessos','site','canal_venda'])

    vendas  lista
0  1000.52    200
1  1052.34    200
2  2002.00    300
3  5000.00    800
4   300.00    200

In [ ]:
dataframe

  canal_venda  acessos   site   vendas  lista
0    facebook      100  site1  1000.52    200
1     twitter      200  site1  1052.34    200
2   instagram      300  site2  2002.00    300
3    linkedin      400  site2  5000.00    800
4    facebook      500  site3   300.00    200

In [ ]:
#mostrando as colunas
dataframe.columns

Index(['canal_venda', 'acessos', 'site', 'vendas', 'lista'], dtype='object')

In [ ]:
# selecionando colunas específicas
dataframe[['canal_venda','vendas']]

  canal_venda   vendas
0    facebook  1000.52
1     twitter  1052.34
2   instagram  2002.00
3    linkedin  5000.00
4    facebook   300.00

In [ ]:
# passando os valores através de lista
filtro = ['canal_venda','acessos']

In [ ]:
dataframe[filtro]

  canal_venda  acessos
0    facebook      100
1     twitter      200
2   instagram      300
3    linkedin      400
4    facebook      500

In [ ]:
# usando o método info()
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   canal_venda  5 non-null      object
 1   acessos      5 non-null      int64
 2   site         5 non-null      object
 3   vendas       5 non-null      float64
 4   lista        5 non-null      int64
dtypes: float64(1), int64(2), object(2)
memory usage: 328.0+ bytes

In [ ]:
# pivotando os dados (coluna)
dataframe.pivot(index = 'canal_venda', columns ='site', values='acessos')

site         site1  site2  site3
canal_venda
facebook     100.0    NaN  500.0
instagram      NaN  300.0    NaN
linkedin       NaN  400.0    NaN
twitter      200.0    NaN    NaN

In [ ]:
# completando os valores faltantes usando fillna
#pivotando os dados (coluna)
aux = dataframe.pivot(index = 'canal_venda', columns='site', values='acessos').fillna(0)
dataframe.pivot(index = 'canal_venda', columns='site', values='acessos').fillna(0)

site         site1  site2  site3
canal_venda
facebook     100.0    0.0  500.0
instagram      0.0  300.0    0.0
linkedin       0.0  400.0    0.0
twitter      200.0    0.0    0.0

# Comando Melt (Visualização)

In [ ]:
# mudando as colunas usando o comando melt
dataframe.melt(id_vars='site', value_vars=['canal_venda'])

    site     variable      value
0  site1  canal_venda   facebook
1  site1  canal_venda    twitter
2  site2  canal_venda  instagram
3  site2  canal_venda   linkedin
4  site3  canal_venda   facebook

In [ ]:
# resetando o índice do dataframe
print(aux.columns)
aux = aux.reset_index()
print(aux.columns)

Index(['site1', 'site2', 'site3'], dtype='object', name='site')
Index(['canal_venda', 'site1', 'site2', 'site3'], dtype='object', name='site')

In [ ]:
#exemplo do comando melt
aux.melt(id_vars='canal_venda', value_vars=['site1','site2','site3'])

   canal_venda   site  value
0     facebook  site1  100.0
1    instagram  site1    0.0
2     linkedin  site1    0.0
3      twitter  site1  200.0
4     facebook  site2    0.0
5    instagram  site2  300.0
6     linkedin  site2  400.0
7      twitter  site2    0.0
8     facebook  site3  500.0
9    instagram  site3    0.0
10    linkedin  site3    0.0
11     twitter  site3    0.0

In [ ]:
  # somando as colunas do dataframe
  dataframe.sum()

canal_venda    facebooktwitterinstagramlinkedinfacebook
acessos                                            1500
site                          site1site1site2site2site3
vendas                                          9354.86
lista                                              1700
dtype: object

In [ ]:
# somando as linhas do dataframe
dataframe.sum(axis=1)

0    1300.52
1    1452.34
2    2602.00
3    6200.00
4    1000.00
dtype: float64

In [ ]:
#calculando a mediana das colunas numericas
print('Por linha: ',dataframe.median(axis=1))
print('Por coluna: ', dataframe.median())

Por linha:  0    200.0
1    200.0
2    300.0
3    800.0
4    300.0
dtype: float64
Por coluna:  acessos     300.00
vendas     1052.34
lista       200.00
dtype: float64

In [ ]:
dataframe

  canal_venda  acessos   site   vendas  lista
0    facebook      100  site1  1000.52    200
1     twitter      200  site1  1052.34    200
2   instagram      300  site2  2002.00    300
3    linkedin      400  site2  5000.00    800
4    facebook      500  site3   300.00    200

In [ ]:
#calculando a média das colunas numéricas 
dataframe.mean()

acessos     300.000
vendas     1870.972
lista       340.000
dtype: float64

In [ ]:
#calculando o desvio padrão das colunas numericas
dataframe.std()

acessos     158.113883
vendas     1850.931024
lista       260.768096
dtype: float64

In [ ]:
#usando o comando describe que calcula estatísticas descritivas para colunas numéricas
dataframe.describe()

          acessos       vendas       lista
count    5.000000     5.000000    5.000000
mean   300.000000  1870.972000  340.000000
std    158.113883  1850.931024  260.768096
min    100.000000   300.000000  200.000000
25%    200.000000  1000.520000  200.000000
50%    300.000000  1052.340000  200.000000
75%    400.000000  2002.000000  300.000000
max    500.000000  5000.000000  800.000000

In [ ]:
#calculando a moda
dataframe.mode()

  canal_venda  acessos   site   vendas  lista
0    facebook      100  site1   300.00  200.0
1         NaN      200  site2  1000.52    NaN
2         NaN      300    NaN  1052.34    NaN
3         NaN      400    NaN  2002.00    NaN
4         NaN      500    NaN  5000.00    NaN

In [ ]:
#valor máximo por coluna
dataframe.max()

canal_venda    twitter
acessos            500
site             site3
vendas            5000
lista              800
dtype: object

In [ ]:
#valor mínimo por coluna
dataframe.min()

canal_venda    facebook
acessos             100
site              site1
vendas              300
lista               200
dtype: object

In [ ]:
#printando o número de unicos
dataframe.nunique()

canal_venda    4
acessos        5
site           3
vendas         5
lista          3
dtype: int64

In [ ]:
#contando valores únicos de uma coluna
dataframe['canal_venda'].value_counts()

facebook     2
instagram    1
twitter      1
linkedin     1
Name: canal_venda, dtype: int64

In [ ]:
#valores únicos de uma coluna
dataframe['canal_venda'].unique()

array(['facebook', 'twitter', 'instagram', 'linkedin'], dtype=object)

In [ ]:
# usando o groupby com valores numéricos
dataframe.groupby('site')['acessos'].sum()

site
site1    300
site2    700
site3    500
Name: acessos, dtype: int64

In [67]:
# usando o groupby com categóricos 
dataframe.groupby('site')['canal_venda'].unique()

site
site1      [facebook, twitter]
site2    [instagram, linkedin]
site3               [facebook]
Name: canal_venda, dtype: object

In [68]:
#usando o groupby com categóricos
dataframe.groupby('site')['canal_venda'].first()

site
site1     facebook
site2    instagram
site3     facebook
Name: canal_venda, dtype: object

In [69]:
#usando o groupby com a função agg
dataframe.groupby('canal_venda').agg({'site':'unique',
                                      'acessos': 'sum'})

                       site  acessos
canal_venda
facebook     [site1, site3]      600
instagram           [site2]      300
linkedin            [site2]      400
twitter             [site1]      200

In [70]:
#correlações entre variáveis
dataframe.corr()

          acessos    vendas     lista
acessos  1.000000  0.217542  0.363803
vendas   0.217542  1.000000  0.979211
lista    0.363803  0.979211  1.000000

# Como criar variáveis categóricas através de variáveis numéricas

In [71]:
#criando variáveis categoricas por fatia de variável numérica
dataframe['categoria_vendas'] = pd.cut(dataframe['vendas'],
                                       bins= (0,1500,2000,8000),
                                       labels=('0 a 1500','1500 a 2000','2000 a 8000'))

In [72]:
dataframe

  canal_venda  acessos   site   vendas  lista categoria_vendas
0    facebook      100  site1  1000.52    200         0 a 1500
1     twitter      200  site1  1052.34    200         0 a 1500
2   instagram      300  site2  2002.00    300      2000 a 8000
3    linkedin      400  site2  5000.00    800      2000 a 8000
4    facebook      500  site3   300.00    200         0 a 1500

In [81]:
#criando variável categórica usando compressão de lista
dataframe['categoria_acessos'] = ['maior_que_300' if x > 299.99 else 'menor_que_300' for x in dataframe['acessos']]

In [82]:
dataframe

  canal_venda  acessos   site  ...  lista  categoria_vendas categoria_acessos
0    facebook      100  site1  ...    200          0 a 1500     menor_que_300
1     twitter      200  site1  ...    200          0 a 1500     menor_que_300
2   instagram      300  site2  ...    300       2000 a 8000     maior_que_300
3    linkedin      400  site2  ...    800       2000 a 8000     maior_que_300
4    facebook      500  site3  ...    200          0 a 1500     maior_que_300

[5 rows x 7 columns]

In [84]:
#juntando dois dataframes & criando o dataframe_2
dataframe_2 = pd.DataFrame({'site': ['site1','site1','site2','site2','site3'],
                            'suporte': ['Carlos','Carlos','Maria','Maria','Ezequiel']})

# Left Join e tipos de Join

In [85]:
#realizando o merge
dataframe.merge(dataframe_2, on = 'site', how = 'left')

  canal_venda  acessos   site  ...  categoria_vendas  categoria_acessos   suporte
0    facebook      100  site1  ...          0 a 1500      menor_que_300    Carlos
1    facebook      100  site1  ...          0 a 1500      menor_que_300    Carlos
2     twitter      200  site1  ...          0 a 1500      menor_que_300    Carlos
3     twitter      200  site1  ...          0 a 1500      menor_que_300    Carlos
4   instagram      300  site2  ...       2000 a 8000      maior_que_300     Maria
5   instagram      300  site2  ...       2000 a 8000      maior_que_300     Maria
6    linkedin      400  site2  ...       2000 a 8000      maior_que_300     Maria
7    linkedin      400  site2  ...       2000 a 8000      maior_que_300     Maria
8    facebook      500  site3  ...          0 a 1500      maior_que_300  Ezequiel

[9 rows x 8 columns]

# Salvando o arquivo com CVS

In [87]:
#salvando o dataframe como cvs
dataframe.to_csv('dataframe.csv', sep = ';', decimal = ',', index  = False)

In [89]:
#lendo dados no formato csv
dataframe_lido = pd.read_csv('dataframe.csv', sep = ';', decimal = ',')

In [90]:
dataframe_lido.head()

  canal_venda  acessos   site  ...  lista  categoria_vendas categoria_acessos
0    facebook      100  site1  ...    200          0 a 1500     menor_que_300
1     twitter      200  site1  ...    200          0 a 1500     menor_que_300
2   instagram      300  site2  ...    300       2000 a 8000     maior_que_300
3    linkedin      400  site2  ...    800       2000 a 8000     maior_que_300
4    facebook      500  site3  ...    200          0 a 1500     maior_que_300

[5 rows x 7 columns]